html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background1, white);
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
}

:root {
  --background1: rgb(43, 43, 43);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(211, 211, 211);
  /* font-size: 16px; */ /* Disables browser font size setting */
}

body {
  display: grid;
  grid-template: 1fr 4fr 40px/ 1fr;
}

header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-footer);
}

#container {
  text-align: center;
}

#title {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}

#instructions {
  font-size: 1rem;
  margin: 0;
}

footer {
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  font-size: 1rem;
  color: var(--text-footer);
}
